body{
  background-color: black
}
video{
  margin-left: 35%;

}

h1{
  text-align: center; font-size: 40px; color: yellow
}
p{
  text-align: center;font-size: 50px
}
h2{
  text-align: center; font-size: 40px;
}
img{
 margin-left: 25%
}
.texto{
  color: white
}
header{
  background-color: gray

}
li{
 display:inline; margin-left: 20%;  font-size: 40px;
}
.cortes{
 display:inline-flex;
 padding-right: 100px
}
.atendimentos p
{
  color: white
}
